/* fuente */
/* Definición de las fuentes personalizadas usando @font-face */
@font-face {
  font-family: 'OpenSansCondensedLight';
  src: url('/font/OpenSans_Condensed-Light.ttf') format('truetype');
 
}

@font-face {
  font-family: 'OpenSansCondensedMedium';
  src: url('/font/OpenSans_Condensed-Medium.ttf') format('truetype');
 
}

@font-face {
  font-family: 'OpenSansCondensedRegular';
  src: url('/font/OpenSans_Condensed-Regular.ttf') format('truetype');
 
}

@font-face {
  font-family: 'OpenSansCondensedSemiBold';
  src: url('/font/OpenSans_Condensed-SemiBold.ttf') format('truetype');
  
}

@font-face {
  font-family: 'OpenSansCondensedSemiBoldItalic';
  src: url('/font/OpenSans_Condensed-SemiBoldItalic.ttf') format('truetype');
  
}

.light {
  background-color: #191919;
  color: #AEA902;
  font-family: 'OpenSansCondensedLight';
}

.medium {
  background-color: #191919;
  color: #E1DB1D;
  font-family: 'OpenSansCondensedMedium';
}

.regular {
  background-color: #191919;
  color: #DAA520 ;
  font-family: 'OpenSansCondensedRegular';
}

.semibold {
  background-color: #191919;
  color: #EFB810;
  font-family: 'OpenSansCondensedSemiBold';
}

.semibolditalic{
  background-color: #191919;
  color: #EAC102;
  font-family: 'OpenSansCondensedSemiBoldItalic';
}





/* text */
.text-custom {
  color: #A68B67; 
  font-family: 'OpenSansCondensedMedium';
}


.btn-custom {
  background-color: #A68B67;
  
}

strong {
  font-style: italic;
}

/* header */

.navbar-brand img {
    width: 120px;
    height: auto;
}



.custom-toggler {
    position: fixed;
    top: 30px; /* Ajusta el valor de 'top' según desees */
    right: 10px; /* Ajusta el valor de 'right' según desees */
    z-index: 1; /* Asegura que el botón esté por encima del contenido */
  }
  .nav-item a{
    margin-left: 15px;
   
  }
  .nav-item a:hover {
    font-size: 110%;
  }
/* carrousel */
@media (max-width: 767px) {
.carousel-caption {
  font-size: 10px;
  margin-bottom: -20px;
}

.col-md-6 img {
  margin-top: 30px;
}
.image-container img {
  margin-top: 40px;
}

}


/* main */
.main {
    background-color: black;
}

.imagen:hover {filter: sepia(60%);}

.image-container img:hover {
    transform: scale(1.1);
    
}

.value{
  font-family: 'OpenSansCondensedSemiBold';
}

.main h3 {
  color: #A68B67;
  font-family: 'OpenSansCondensedSemiBold';
}

.card:hover {
border-radius: 15px;
box-shadow: 0px 0px 5px 5px #a68b67;
-webkit-box-shadow: 0px 0px 5px 5px #A68B67;
transform: rotate(360deg);
}
/* footer */



.list-unstyled a:hover {
  border-bottom: 1px solid #A68B67;
}


.login-box input:focus,
.login-box textarea:focus
 {
    border-color: #a68b67; /* Cambia el color del borde de enfoque */
    box-shadow: 0 0 5px rgba(166, 139, 103, 0.5); /* Agrega una sombra de enfoque */
    /* Otros estilos personalizados que desees para el enfoque */
}

