.body {
    background-color: antiquewhite;
    
}

/* Navbar */
.navbar-collapse.show {
  background-color: #000000;
}


.navbar {
  height: 70px;
  position: absolute;
}

.navbar-brand img {
  width: 100px;
  height: 50px;
}

.navbar-custom {
  background-color: #000000; 
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #8A4B08 !important; 
  font-size: 15px;
  margin: 2px;
  padding: 2px;
  margin-left: 5px;
}

.navbar-nav .nav-link {
  transition: transform 0.2s ease;
}


.navbar-nav .nav-link:hover {
  transform: scale(1.1); 
}

.navbar-collapse.show {
  background-color: #000000;
  z-index: 1;
}

/* imagen */

.carousel {
  height: 250px;
  margin-top: 70px;
}

.carousel-item img {
  max-width: 100%;
  max-height: 85vh;
}


/* Quienes somos y beneficios */

.container-qs {
  margin-top: 20px;
}

.container-header, 
.container-list {
    padding: 20px;
    margin-left: 5px;
    text-align: center;
  }
  
.container_title  {
    font-size: 24px;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
  }

.container p {
    font-size: 16px;
    line-height: 1.5;
    
  }
  
.ul {
    list-style-type: disc;
    padding-left: 20px;
  }

.slide-list li {
    font-size: 20px;
    text-align: left;
}

.slide-list {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.slide-list li {
  color: #8A4B08;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-list li.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 0.5s ease-out;
}

.slide-in-left.show {
  opacity: 1;
  transform: translateX(0);
}



.circular-background {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
 margin-top: -20px;
}

.circular-background img {
  padding-top: 20px;
}

.circular-background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8A4B08; /* Color del fondo circular */
  opacity: 0.3; /* Opacidad del fondo circular */
  z-index: -1;
  border-radius: 50%;
}
/* Ficha tecnica */
.container__title {
  background-color: #8A4B08;
  color: aliceblue;
  border-radius: 5px;
  display: inline-block; 
  padding: 3px;
}

.container__title-one {
  color: #8A4B08;
}

.row h5 {
  color: #8A4B08;
}

.custom-list {
  padding-left: 10px;
  margin-left: 0;
  color: #8A4B08;
}

.uso {
  color: #8A4B08;
}


/* contacto */

.form-container {
  padding: 15px;
  margin-top: 5px;
  color: #8A4B08;
}

.form-group input,
.form-group textarea {
 
  margin-bottom: 15px;
  color: #8A4B08;
}
.form-container button {
  margin-top: 5px;
}


/* footer */

  .footer .row {
    margin-bottom: 1px;
  }
  
  .footer p {
    margin-top: 25px;
    color: #8A4B08;
    text-align: center;
    font-size: 15px;
  }
  .footer a {
    color: #8A4B08;
    text-decoration: none;
  }
  
  .footer .logo,
  .footer .senasa {
    max-width: 100%;
    height: auto;
    margin-top: 5px;
    padding: 0;
  }
  .text-center{
    margin-top: 20px;
  }
  @media screen and (min-width: 400px) {
    .text-center{
      margin-top: 100px;
    }
  }
  @media screen and (min-width: 500px) {
    .text-center{
      margin-top: 150px;
    }
  }

  @media screen and (min-width: 800px) {
    .text-center{
      margin-top: 200px;
    }
  }

  @media screen and (min-width: 1000px) {
    .text-center{
      margin-top: 260px;
    }
  }

  