.body {
    background-color: antiquewhite;
    
}

/* Navbar */
.navbar {
  height: 70px;

}

.navbar-brand img {
  width: 100px;
  height: 50px;
}

.navbar-custom {
  background-color: #000000; 
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #8A4B08 !important; 
  font-size: 15px;
  
}

.navbar-nav .nav-link {
  transition: transform 0.2s ease;
}


.navbar-nav .nav-link:hover {
  transform: scale(1.1); 
}


/* imagen */

.container img{
  padding-top: 50px;
}

/* Quienes somos y beneficios */

.container-header, 
.container-list {
    padding: 20px;
  }
  
.container_title {
    font-size: 24px;
    margin-bottom: 20px;
    font-style: italic;
  }

.container p {
    font-size: 16px;
    line-height: 1.5;
  }
  
.ul {
    list-style-type: disc;
    padding-left: 20px;
  }

.slide-list li {
    font-size: 18px;
}

.slide-list {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.slide-list li {
  color: #8A4B08;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-list li.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 0.5s ease-out;
}

.slide-in-left.show {
  opacity: 1;
  transform: translateX(0);
}

.check-mark {
  color: #8A4B08;
}

/* contacto */

.form-container {
  padding: 15px;
  margin-top: 5px;
  color: #8A4B08;
}

.form-group input,
.form-group textarea {
 
  margin-bottom: 15px;
  color: #8A4B08;
}
.form-container button {
  margin-top: 5px;
}


/* footer */

  .footer .row {
    margin-bottom: 1px;
  }
  
  .footer p {
    margin-top: 25px;
    color: #8A4B08;
    text-align: center;
    font-size: 12px;
  }
  .footer a {
    color: #8A4B08;
    text-decoration: none;
  }
  
  .footer .logo,
  .footer .senasa {
    max-width: 100%;
    height: auto;
    margin-top: 5px;
    padding: 0;
  }
  